doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title PC
        link(rel="stylesheet" href="https://unpkg.com/mvp.css") 
    body
        header
            h1 Private chat
        main
        
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")